html,
body {
  background-color: #fafafa;
  max-width: 100%;
  overflow-x: hidden;
}

.list-group-item {
  color: var(--primary);
}

.list-group-item:hover {
  color: black;
  background-color: #fafafa;
}

.artificial-link {
  text-decoration: none !important;
}

.artificial-link:hover{
  cursor: pointer;
}

@media (min-width: 34em) {
  .card-columns {
      -webkit-column-count: 1;
      -moz-column-count: 1;
      column-count: 1;
  }
}

@media (min-width: 48em) {
  .card-columns {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
  }
}

@media (min-width: 62em) {
  .card-columns {
      -webkit-column-count: 3;
      -moz-column-count: 3;
      column-count: 3;
  }
}

.star-wrapper{
  float: right;
}

.close:focus {
  outline: none !important;
}

.custom-btn {
  transition: font-size 0.075s, color 0.1s;;
}

.custom-btn:hover{
  font-size: 17.5px;
}

.starred {
  color: #ffe216;
}

.starred:hover {
  color: rgba(255, 226, 22, 0.75);
}

.unstarred {
  color: var(--secondary);
}

.check-wrapper{
  float: left;
  padding-right: 5px;
}